.home {
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home h1 {
  font-size: 50px;
  opacity: 0;
  /* transition: display 1s ease-in-out; */
  animation: 2s forwards h1Enter ease-in-out;
  will-change: auto;
}
@keyframes h1Enter {
  0% {
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-40px);
    opacity: 1;
  }
}
.twitchButton {
  padding: 12px 18px;
  outline: none;
  background-color: #6441a5;
  border: 2px solid #6441a5;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: border 0.3s;
  animation: ease-in-out twitchButtonAnimation 2s forwards;
}
.twitchButton:hover {
  box-shadow: 0 0 20px #6441a5;
  border: 2px solid white;
}
.twitchButton img {
  width: 40px;
}
@keyframes twitchButtonAnimation {
  0% {
  }
  100% {
    transform: translateY(20px);
    opacity: 1;
  }
}
.userInfo a {
  margin-top: 20px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: ease-in-out twitchButtonAnimation 2s forwards;
  text-decoration: none;
  color: white;
}
.userInfo img {
  width: 50px;
  border-radius: 50%;
}
