.videoInQueue {
  color: white;
  padding: 15px 10px;
  background-color: #121212;
  margin: 5px 0;
  font-size: 25px;
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
  color: inherit;
}
.videoInQueue img {
  /* width: 200px; */
  height: 100px;
  border-radius: 5px;
}
